<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coolrabbit.dao.NoteMapper">
  <resultMap id="BaseResultMap" type="com.example.coolrabbit.entity.Note">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="note_id" jdbcType="VARCHAR" property="noteId" />
    <result column="note_title" jdbcType="VARCHAR" property="noteTitle" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="is_private" jdbcType="INTEGER" property="isPrivate" />
    <result column="folder_id" jdbcType="VARCHAR" property="folderId" />
  </resultMap>
</mapper>